.jumbo-title{
    font-family: 'Lobster Two', cursive;
}
body{
    background-image: url("https://i.imgur.com/qVEdHdU.jpg")
}

.jumbo-bg{
    background-color: #ff3d00;
    opacity: .65;
    text-shadow: 2px 2px black;
}

.orange-shadow{
    text-shadow: 2px 2px #ff3d00;
}

.Otext{
    color:#ff3d00;
}